---
import Title3 from "../../../shared/Title3.astro";
import LazyImage from "../../../shared/LazyImage.astro";
import Button from "../../../shared/Button.astro";
export interface Props {
  title: string;
  description: string;
  source: string;
  visual: ImageMetadata;
}
const { title, description, source, visual } = Astro.props;
---

<div class="rental-card">
  <div class="rental-card-image-wrap">
    <LazyImage
      src={visual}
      alt={title}
      height="384"
      width="398"
      class="rental-card-img"
    />
    <svg
      class="rental-card-svg-top"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 400 75"
      aria-hidden="true"><path d="M0 0l400 0L400 75 0 25Z"></path></svg
    >
    <p class="rental-card-source">{source}</p>
    <svg
      class="rental-card-svg-bottom"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 -50 400 50"
      aria-hidden="true"><path d="M0 0l400 0L0-50Z"></path></svg
    >
  </div>
  <div class="rental-card-body">
    <Title3>{title}</Title3>
    <div class="rental-card-desc">{description}</div>
    <div class="rental-card-action">
      <Button variant="outline" color="primary">Read more</Button>
    </div>
  </div>
</div>
