---
import Container from "../../shared/Container.astro";
import GradientText from "../../shared/GradientText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import Rentals from "./components/Rentals.astro";
import { rentalsSection } from "./data.ts";
export interface Props {
  className?: string;
}
const { className = "" } = Astro.props;
---

<section id="rentals" class={className}>
  <Container className="section-header">
    <Title2>{rentalsSection.title}</Title2>
    <SubTitle2
      >{rentalsSection.subheading1_1}<GradientText
        >{rentalsSection.subheading1_2}</GradientText
      ></SubTitle2
    >
  </Container>
  <Container>
    <div class="rentals-grid">
      {
        rentalsSection.rentals.map((rental) => (
          <Rentals
            title={rental.title}
            description={rental.description}
            source={rental.source}
            visual={rental.visual}
          />
        ))
      }
    </div>
  </Container>
</section>
