---
import Container from "../../shared/Container.astro";
import GradientText from "../../shared/GradientText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import EmailForm from "./components/EmailForm.astro";
import InvolvementCard from "./components/InvolvementCard.astro";
import { employmentSection } from "./data.ts";

export interface Props {
  className?: string;
}
const { className } = Astro.props;
---

<section id="employment" class=`${className}`>
  <Container
    className="mx-auto flex flex-col items-center justify-center text-center"
  >
    <Title2>{employmentSection.title}</Title2>
    <SubTitle2>
      <GradientText>{employmentSection.subheading1_1}</GradientText>
      {employmentSection.subheading1_2}
    </SubTitle2>
  </Container>
  <Container className="space-y-10 md:space-y-12">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
      {
        employmentSection.employment.map((employment) => {
          return (
            <InvolvementCard
              title={employment.title}
              description={employment.description}
              visual={employment.visual}
            />
          );
        })
      }
    </div>

    <div class="flex justify-center">
      <EmailForm />
    </div>
  </Container>
</section>
