---
import Container from "../../shared/Container.astro";
import Title2 from "../../shared/Title2.astro";
import ServiceCard from "./components/ServiceCard.astro";
import ServiceCopyTextCard from "./components/ServiceCopyTextCard.astro";
import { servicesSectionData } from "./data";
export interface Props {
  className?: string;
}
const { className = "" } = Astro.props;
---

<section id="facility-services" class={`facility-services ${className}`}>
  <Container size="wide"><Title2>{servicesSectionData.title}</Title2></Container
  >
  <Container size="wide">
    <div class="services-grid">
      <ServiceCopyTextCard
        className="copy-card"
        subheading={servicesSectionData.subheading}
      />
      {
        servicesSectionData.services.map((service) => (
          <div>
            <ServiceCard
              title={service.title}
              description={service.briefDescription}
              visual={service.visual}
            />
          </div>
        ))
      }
    </div>
  </Container>
</section>
