---
import Container from "../../shared/Container.astro";
import GradientText from "../../shared/GradientText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import Inventory from "./components/Inventory.astro";
import { inventorySection } from "./data.ts";
export interface Props {
  className?: string;
}
const { className = "" } = Astro.props;
---

<section id="inventory" class={className}>
  <Container className="section-header">
    <Title2>{inventorySection.title}</Title2>
    <SubTitle2
      ><GradientText>{inventorySection.subheading1_1}</GradientText><br />{
        inventorySection.subheading1_2
      }</SubTitle2
    >
  </Container>
  <Container className="flex-center">
    <div class="inventory-grid">
      {
        inventorySection.inventory.map((item) => (
          <Inventory name={item.name} visual={item.visual} />
        ))
      }
    </div>
  </Container>
</section>
