---
import Container from "../../shared/Container.astro";
import GradientText from "../../shared/GradientText.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import Inventory from "./components/Inventory.astro";
import { inventorySection } from "./data.ts";

export interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<section id="inventory" class=`${className}`>
  <Container
    className="mx-auto flex flex-col items-center justify-center text-center"
  >
    <Title2>{inventorySection.title}</Title2>
    <SubTitle2>
      <GradientText> {inventorySection.subheading1_1}</GradientText><br />
      {inventorySection.subheading1_2}
    </SubTitle2>
  </Container>
  <Container className="flex flex-col items-center">
    <div
      class="mt-8 flex flex-col gap-8 midmd:flex-row text-heading-3 font-medium"
    >
      {
        inventorySection.inventory.map((inventory) => {
          return (
            <Inventory
              name={inventory.name}
              visual={inventory.visual}
              occupation={inventory.occupation}
              quote={inventory.quote}
            />
          );
        })
      }
    </div>
  </Container>
</section>
