---
import Container from "../../shared/Container.astro";
import GradientText from "../../shared/GradientText.astro";
import LazyImage from "../../shared/LazyImage.astro";
import Paragraph from "../../shared/Paragraph.astro";
import SubTitle2 from "../../shared/SubTitle2.astro";
import Title2 from "../../shared/Title2.astro";
import Title3 from "../../shared/Title3.astro";
import { partsServiceSection } from "./data.ts";
export interface Props {
  className?: string;
}
const { className = "" } = Astro.props;
---

<section id="parts-service" class={className}>
  <Container className="section-header">
    <Title2>{partsServiceSection.title}</Title2>
    <SubTitle2
      >{partsServiceSection.subheading1_1}<br /><GradientText
        >{partsServiceSection.subheading1_2}</GradientText
      ></SubTitle2
    >
  </Container>
  <Container>
    {
      partsServiceSection.partsService.map((solution, index: number) => (
        <div class="alternating-section-item">
          <div
            class={`alternating-row ${index % 2 === 0 ? "alternating-row--reverse" : ""}`}
          >
            <div class="alternating-image-col">
              <div class="alternating-image-wrap">
                <LazyImage
                  src={solution.visual}
                  alt={solution.title}
                  width="500"
                  class="rounded-3xl object-cover h-full"
                />
              </div>
            </div>
            <div class="alternating-text-col">
              <Title3>{solution.title}</Title3>
              <Paragraph className="mt-3">{solution.description}</Paragraph>
            </div>
          </div>
        </div>
      ))
    }
  </Container>
</section>
